.help-button {
    position: fixed;
    top: 90px; /* Augmenté de 70px à 90px pour descendre le bouton */
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: #4CAF50;
    border: 2px solid white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 1000;
}

.help-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.help-button:active {
    transform: scale(0.95);
} 